#Cont_header /* Conteneur pére de la partie "header"/ contient : "Cont_header1", "Cont_header1", "Cont_header1"*/ 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%x;
    /*border: 1px red solid;*/
}
/*-----------------------------cont_header1---------------------------*/
/*-------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
#Cont_header1 /* contient "Sous_Cont_header1" et "Sous_Cont_header2"*/
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 30%;
    /*border: 1px red solid;*/
    
}
/* ---------------------------------------------------Sous_Cont1_header1---------------------*/
#Sous_Cont1_header1 /* en haut à gauche, contient : Logo "reservia, titre, phrase de description et barre de recherche */
{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-bottom: 5px;
    padding-left: 10px;
    
    /*border: 1px red solid;*/
}
#Logo_reservia
{
    /*border: 1px red solid;*/
    width: 110px;
    height: 50px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
#Sous_Cont1_header1 h1
{
    /*border: 1px red solid;*/
    font-size: 1.6em;
    font-weight: 700;
    width: auto;
    margin-top: 10px;
    
    
}
#description
{
    /*border: 1px red solid;*/
    width: auto;
    margin-top: 5px;
    
    
}

#recherche
{
    /*border: 1px red solid;*/
    display: flex;
    width:600px;
    height: 70px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#Boutton_bleu
{
    background-color: #0065fc;
    border: #0065fc ;
    
    height: 60px;
    width: 130px;
    padding: 10px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    box-shadow: 1px 1px 0.3em #e9e9e9, -1px -1px 0.3em  #e9e9e9 ;

}
#text
{
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 1.2em;
    
}
#gps
{   
    background-color: #f2f2f2b2;
    
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    box-shadow: 1px 1px 0.3em #e9e9e9, -1px -1px 0.3em  #e9e9e9 ;
    
}
.fa-map-marker-alt
{
    margin-top: 18px;
    margin-left: 16px;
    margin-right: 3px;
    color: rgb(0, 0, 3);
    font-size: 1.6em;
}
#localiser
{
    background-color: #ffffff;
    border: #f2f2f2 2px solid;
    height: 60px;
    width: 250px;
    box-shadow: 1px 1px 0.3em #e9e9e9, -1px -1px 0.3em  #e9e9e9 ;
}
::placeholder
{
    color: black;
    font-weight: 600;
    font-size: 1.3em;
}


/* ---------------------------------------------------Sous_Cont2_header1---------------------*/
#Sous_Cont2_header1 /* en haut à droite, contient : menu liste */
{
    /*border: 1px red solid;*/
    display: flex;
    align-items: center;
    width: 40%;
    height: 50px;
    margin-top: 10px;
}
#Menu
{
    /*border: 1px red solid;*/
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-top: 10px;
    margin-top: 50px;
    
}
.menu
{
    
    padding-top: 10px;
    margin: 15px;
    height: 50px;
    font-size: 1.1em;
    font-weight: 600;
    
}
.menu:hover
{
    border-top: #408bfd 2px solid;
    color: #408bfd;
     
}
.counter:hover
{
    color: #408bfd;
}
.inscription
{
    color: #408bfd;
    font-size: 1.1em;
    font-weight: 600;
}
/*-----------------------------cont_header2---------------------------*/
/*-------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
#Cont_header2 /* contient la partie FILTRES "*/
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 20px;    
}

/* ---------------------------------------------------Sous_Cont1_header2---------------------*/
#Sous_Cont1_header2 
{
    
    /*border: 1px red solid;*/
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    padding: 10px; 
}
#Sous_Cont1_header2 p
{
    font-size: 1.4em; 
    font-weight: 900;
}
/* ---------------------------------------------------Sous_Cont2_header2---------------------*/
#Sous_Cont2_header2
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: 90%;
    /*border: 1px red solid;*/

}
#Sous_Cont2_header2 ul
{
    display: flex;
    width: auto;
}
.Filtre
{
    /*border: 1px red solid;*/
    display: flex;
    width: auto; 
    height: auto;
    padding: 10px;
}
.Filtre1 a:hover
{
    background-color: #deebff49;
    height: 20px;
    width: 30px;
    padding-left: 20px;
    padding-top: 30px;
}
.bulle /* fond en forme de cercle */
{
    display: flex;
    border-radius:50%;
    padding: 10px;
    margin-left: 0;
    justify-items: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border:3px solid #deebff;
    background-color: #deebff;
}
.Filtre1
{
    
    box-shadow: 1px 1px #e9e9e9, -1px -1px  #e9e9e9 ;
    border-top-left-radius: 60px 40px;
    border-bottom-left-radius: 60px 40px;
    border-top-right-radius: 40px 30px;
    border-bottom-right-radius: 40px 30px;
    
    display: flex;
    align-items:center;
    justify-items: left;
    
    padding: 0;
    padding-left: -10px;
    margin-left: 30px;
    
    
    width: auto;
    height: 100%;
    font-weight:900;
}
.bulle2
{
    padding-left: 2px;
    padding-right: 5px;
    font-size: 1.3em;
    width: auto;
    height: auto;
}
.fa-dog, .fa-heart, .fa-child, .fa-money-bill-wave
{
    color: #0065fc;
    font-size: 1.6em;
    align-items: center;
    
}

.fa-dog
{
    margin-left: -2px;
    margin-top: -1px;
}
.fa-child
{
    margin-left: 2.5px;
}
.fa-money-bill-wave
{
    margin-left: -3px;
}



    

/*-----------------------------cont_header3---------------------------*/
/*-------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
#cont_header3
{
    display: flex;
    align-items: center;
    /*border: 1px red solid;*/
    height: 20%;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px; 
    
}
#cont_header3 p
{
    display: flex;
    /*border: 1px red solid;*/
    height: 15%;
    width: auto;
    margin-left: 8px;    
}
.fa-info-circle
{
    height: 15%;
    display: flex;
    padding-top: 0;
    border: #d9d9d9 1px solid;
    border-radius: 50%;
    color: white;
    background-color: blue;
}