footer
{
    background-color: #f2f2f2b2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    margin-top: 25px; 
}
.Liste_footer
{
    list-style: none;
    padding-left: 0px;
    
}
.Titre_liste
{
    align-content: center;
    padding-left: 260px;
    
}
.c1
{
    padding-left: 0;   
}
.pied
{
    font-size: 1.2em;
}

