#Cont_header /* Conteneur pére de la partie "header"/ contient : "Cont_header1", "Cont_header1", "Cont_header1"*/ 
{
    display: flex;
    width: 100%;
    height: 30%x;
    border: 1px red solid;
}
#Cont_header1 /* contient "Sous_Cont_header1" et "Sous_Cont_header2"*/
{
    display: flex;
    width: 100%;
    height: 30%;
    border: 1px brown dashed;
    
}
/* ---------------------------------------------------Sous_Cont_header1---------------------*/
#Sous_Cont_header1 /* en haut à gauche, contient : Logo "reservia, titre, phrase de description et barre de recherche */
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px blue dashed;
}
#Logo_reservia
{
    border: 1px fuchsia dashed;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    
}
#Sous_Cont_header1 h1
{
    border: 1px fuchsia dashed;
    font-size: 1.8em;
    width: auto;
    margin-top: 10px;
    flex-shrink: 1;
    
}
#description
{
    border: 1px blue dashed;
    width: auto;
    margin-top: 5px;
    flex-shrink: 1;
    
}
#recherche
{
    border: 1px fuchsia dashed;
    width: auto;
    margin-top: 5px;
    flex-shrink: 1;
    
}


/* ---------------------------------------------------Sous_Cont_header2---------------------*/
#Sous_Cont_header2 /* en haut à droite, contient : menu liste */
{
    width: 50%;
    height: 100%;
    border: 1px green dashed;
}
#Menu
{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.menu
{
    border: 1px greenyellow solid;
    margin: 15px;
}
