
#PAGE
{
    /* corp de page */
    width: auto;
    max-width : 1500px;
    height: auto;
    margin: auto;

    /*Global font*/
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;

}
h1
{
    margin: 0;
}
h3
{
    margin: 0;
}
p
{
    margin: 0;
}
/* Partie central "Cont_section" conteneur principal ( contient "section1" et "section2") */
#Cont_section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%x;
    border: 4px blue solid;
    margin-top: 20px;
}