/* resolution inferieur à 500px */

#PAGE
{
   
    /* corp de page */
    
    max-width : 500px;
    
    height: auto;
    margin: auto;
    

    /*Global font*/
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    

}
a:link 
{ 
 text-decoration:none; 
} 
h1
{
    margin: 0;
}
h3
{
    margin: 0;
}
p
{
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
}